
body { margin: 0px }

#header { background-color: #000066; padding: 10px }

#header-content {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

#header {
  font-family: 'Share Tech', sans-serif;
  font-size: 30;
  color: #ffffff
}

#header #menu-intro {
  display: inline;
}

#header #menu-outro {
  display: inline;
  float: right;
}

#header #menu {
  display: inline;
  padding: 10px;
  font-size: 26;
  list-style-type: none;
}

#header #menu li { display: inline; margin: 10px }
#header #menu li a { text-decoration: none; color: #ccccff }

#page {
  padding: 10px;
}

#page-content {
  max-width: 800px;
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

#page-content h1 { font-family: 'Share Tech', sans-serif; font-size: 20pt; color: #000066 }
#page-content h2 { font-family: 'Share Tech', sans-serif; font-size: 14pt; color: #000066 }


#arrp-input {
  width: 100%;
}

#arrp-output {
  width: 100%;
}

.bigger {
  font-family: 'Share Tech', sans-serif;
  font-size: 16pt;
}
