extends ../main.pug

block content
  h1 Documentation

  h2: a(href=base_url+'/doc/compiler') Compiler

  p Installation and usage of the Arrp compiler.

  h2: a(href=base_url+'/doc/language') Language Guide

  p A guide to the syntax and semantics of Arrp.

  h2: a(href=base_url+'/doc/syntax') Language Syntax

  p A formal specification of the Arrp syntax.

  h2: a(href=base_url+'/doc/target-cpp') C++ target

  p How to use the generated C++ code.
