extends ../main.pug

block content
  h1: a(href=base_url+'/doc/compiler') Compiler

  p Installation and usage of the Arrp compiler.

  h1: a(href=base_url+'/doc/language') Language Guide

  p An informal guide to the syntax and semantics of Arrp.

  h1: a(href=base_url+'/doc/syntax') Language Syntax

  p A formal specification of the Arrp syntax.
