extends ../main.pug

block content
  h1: a(href=base_url+'/manual/compiler') Compiler

  p Installation and usage of the Arrp compiler.

  h1: a(href=base_url+'/manual/language') Language

  p Arrp language syntax and semantics.
