extends ../main.pug

block content
  script(src=base_url+'/js/play.js')

  p(class='bigger').
    Arrp is a functional language for digital signal processing
    with the following features:
  ul
    li.
      Signals regarded simply as multi-dimensional arrays with an infinite dimension.
    li.
      Pointwise operations and broadcasting.
    li.
      Polymorphic and higher order functions.
    li.
      Type inference.
    li.
      High performance for real-time DSP.


  h2 Try Arrp:

  select(id='example-selection' onchange='selectExample()')

  button(onclick='selectExample()') Reload

  p: textarea(id='arrp-input' rows='10' maxlength='5000')

  p
    button(onclick='sendArrpInput("'+base_url+'/play/post")') Run
    input(id='out-count' type='text' value='50' size='4' maxlength='4' style='text-align: right')
    | samples

  p: textarea(readonly id='arrp-output' rows='10') Output will appear here.
