extends ../main.pug

block content

  h1 Research

  p.
    The Arrp language and compiler is a result of research and development
    at University of Victoria, Canada.

  h2 Related Papers

  .citation
    p Leben, Jakob.
    p: b "Arrp: a functional language with multi-dimensional signals and recurrence equations."
    p Proceedings of the 4th International Workshop on Functional Art, Music, Modelling, and Design. ACM, 2016.
