extends ../../main.pug

block content

  p Source code of the Arrp compiler is available in this GitHub repository:

  p: a(href='https://github.com/jleben/arrp') https://github.com/jleben/arrp

  p.
    Please see instructions in the README file in the repository for details
    on building and usage of the compiler.
