extends ../../main.pug

block content

  h1 C++ target

  p.
    To output C++ code, run the Arrp compiler with the "--cpp" option:

  pre arrp example.arrp --cpp

  p.
    By default the compiler generates a file named "module.cpp", with "module" replaced by
    the actual name of the compiled module.
    To generate a file with a different name, follow the "--cpp" option with
    the desired name. For example, to generate "something.cpp", execute:

  pre arrp example.arrp --cpp something

  p.
    By default the C++ code is placed into a namespace with the same name as the module name.
    To generate code in a different namespace, provide the "--cpp-namespace" option:

  pre arrp example.arrp --cpp-namespace some_namespace

  h1 The program class

  p.
    An Arrp program is represented as a C++ class. More information about the usage of
    this class will be added soon.

  h2 Input and output

  p.
    The program class is a template with a parameter IO representing the type that
    provides the input and consumes the output. The class contains
    a data field #[code IO* io] - a pointer which must be initialized to an instance
    of IO before using the rest of the program class:

  p.
    When some input or output data needs to be exchanged, the program class will
    call a function on the IO with an argument: the buffer where the data is to be written
    or read from as an argument. For an input, the called function has the same
    name as the input in Arrp. For the output, the function named "output" is called:

  p.
    If an input or output is an infinite array, the input or output function is
    called once for each sample of the array in the first dimension.
    The calls happen in order form index 0 to infiniy.

  p.
    If an input or output is not an infinite array, the input or output function
    is called only a single time for the entire data.
