
server {
    root ${FILE_PREFIX};

    location = / {
        try_files /html/play.html =404;
    }

    location /css { }
    location /js { }
    location /play/post {
        proxy_pass http://localhost:8000/play/post;
    }
    location / {
        root ${FILE_PREFIX}/html;
        try_files $uri.html =404;
    }
}
