
link(rel='stylesheet' href=base_url+'/css/style.css')

#header
  #header-content
    #menu-intro: | Arrp = [
    ul(id='menu')
      li: a(href="play") 0 -> Play;
      li: a(href="reference") 1 -> Reference;
    #menu-outro: | ]

#page
  #page-content
    block content
