
link(rel='stylesheet' href=base_url+'/css/style.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400|Share+Tech|Open+Sans')

#header
  #header-content
    #menu-intro: | Arrp = [
    ul(id='menu')
      li: a(href="play") 0 &#8594 Play;
      li: a(href="reference") 1 &#8594 Reference;
    #menu-outro: | ]

#page
  #page-content
    block content
