
link(rel='stylesheet' href=base_url+'/css/style.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400|Share+Tech|Open+Sans')

#header
  #header-content
    #menu-intro: | Arrp = [
    ul(id='menu')
      li: a(href=base_url+'/play') 0 &#8594 Play;
      li: a(href=base_url+'/manual') 1 &#8594 Manual;
      li: a(href=base_url+'/research') 2 &#8594 Research;
    #menu-outro: | ]

#page
  #page-content
    block content
